
NEXT_PUBLIC_API_URL=https://schedule-api.betopialimited.com/api
# NEXT_PUBLIC_API_URL=http://160.250.197.118:8001/api
NEXT_PUBLIC_NODE_API_URL=http://192.168.10.130:5000


EMAIL_USER=mubinulislam14@gmail.com
EMAIL_PASS=hybb wfti fglk wfcc
ADMIN_EMAIL=mubinulislam14@gmail.com
