@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* 🔒 COMPLETELY DISABLE TAILWIND DARK MODE */
@variant dark {
  @disabled;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

html {
  font-family: var(--font-outfit), sans-serif;
}
body {
  background-color: #ffffff !important;
  color: #171717 !important;
}



* {
  forced-color-adjust: none;
}

.shadow-up {
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.3);
}


@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
